
body
{
    font-family: 'Montserrat', sans-serif!important;
    margin:0px !important;
}


a
{
    color:black!important;
}

.desmond
{
    margin-bottom: 1px;
}

.kwame
{
    margin-bottom:1px;
}


button:hover
{
    cursor: pointer!important;
}


.main-container
{
    width:100%;
    display:flex;
    flex-direction:column;
    overflow-x:hidden;
}

.nav-bar
{
    width:inherit;
    display:flex;
    border-bottom: 1px rgb(231, 231, 231) solid;
    margin-left:1rem;
    margin-top:0.5rem;
  
}

.nav-bar-left
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

.content-area
{
    display:flex;
    
}

.sidebar-menu
{
    width:20%;
    border-right: 1px rgb(231, 231, 231) solid;
    display:flex;
    flex-direction:column;
    height:100vh;
    background-color: rgb(243, 243, 243);
}


.menu-item
{
    padding:1rem;
    display:flex;

}
.selected
{
    background-color: rgb(224, 224, 224);
    /* color:white; */
}

.menu-item:hover
{
    cursor: pointer;
}
.sidebar-right
{
    width:85%;
    padding:1rem;
    display:flex;
    flex-direction:column;
}

.button-area
{
    display:flex;
    width:100%;
}

.option-button
{
    width: 186px;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 0px solid white;
    font-family: 'Montserrat', sans-serif!important;
    display: flex;
}

.button-youtube
{
    background-color: rgb(255, 0, 0);
    color:white;

}


.button-facebook
{
    background-color: #4167b2;
    color:white;

}

.button-twitch
{
    background-color: #6441a5;
    color:white;

}

.button-logo
{
    color: white;
    width: 25px;
    margin-right: 0.7rem;
    margin-top: 4px;
}

.button-text
{
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.option-button:hover
{
    cursor:pointer;
}

.add-destination
{
    font-size:0.8rem;
    padding:0.8rem;
    border-radius:0.5rem;
    background-color: rgb(1, 1, 8);
    color:white;
    border:0px;
    margin-bottom: 0.8rem;
}

.tab-row
{
    margin-bottom:1rem;
}
.destination-title
{
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-bottom:1rem;
    display:flex;
}

.MuiTabs-flexContainer
{
    border-bottom: 1px solid #dddddd;
}

.MuiTab-wrapper
{
    font-family: 'Montserrat', sans-serif!important;

}

.ant-breadcrumb
{
    margin-bottom:1rem;
}

.add_broadcast_btn
{
    width: 42px;
    height: 42px;
    margin: 0px 8px 8px 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(153, 153, 153);
    opacity: 0.45;
}

.add_broadcast_btn:hover{
    color:black;
    opacity:unset;
    border:1px solid black ;

}


.auth-loader
{
    width:100%;
    text-align:center;
}

.button-area-create-modal
{
    display:flex;
    flex-direction:row;
    margin-bottom:1.5rem;

}

.modal-area-broadcast
{
    display:flex;
    flex-direction:column;
}

.modal-input-row
{
    width:100%;
}

.modal-input-field
{
    width: 100%;
    border: 0px;
    background: #dedede;
    border-radius: 0.2rem;
    padding: 0.4rem;
    margin-bottom:0.8rem;
}

.create-event-button
{
    background-color: #000000;
    color:white;
    border-radius:0.4rem;
    padding:1rem;
    border:0px;
    width:100%;
}

.no-opacity
{
    opacity:unset!important;
}


.available-destinations
{
    width:50%;
    display:flex;
    flex-direction:column;
}

.destination-card
{
    width: 100%;
    display: flex;
    padding: 0.8rem;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dadada;
    margin-bottom: 1rem;
}

.destination-card-left
{
    display:flex;
}

.destination-card-left-text
{
    display:flex;
    flex-direction:column;
}

.destination-card-right
{
    order:2;
    margin-left:auto;
}

.destination-image
{
    width:40px;
    border-radius:50%;
    margin-right:0.5rem;

}

.selected-destination
{
    border:5px solid #6678f5;
}




